html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
 /* .link{ */
    /* display: flex; */
    /* width: 500px; */
  /* height: 100px; */
  /* border: solid black 2px; */
  /* background-color: grey; */
  /* text-align: center; */
  /* color: black; */
  /* align-items: center; */
/* } */
/* .youtubelink{ */
    /* display: flex; */
    /* width: 500px; */
  /* height: 100px; */
  /* border: solid black 2px; */
  /* background-color: grey; */
  /* text-align: center; */
  /* color: black; */
  /* align-items: center; */
/* }  */
.link, .youtubelink {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  background-color: grey;
  color: black;

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;     /* vertical center */

  text-decoration: none;     /* remove underline */
}